<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Checkout | Brewed Aromas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel='icon' href="images/favicon.jfif" type='image/x-icon'>
  </head>
  <body>
  	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">BREWED<small>AROMAS</small></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="/tea" class="nav-link">Tea</a></li>
			  <li class="nav-item"><a href="/coffee" class="nav-link">Coffee</a></li>			  
	          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
			  <li class="nav-item"><a href="#" class="nav-link">Welcome, <%= user.firstname %></a></li>
			  <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
	          <li class="nav-item cart"><a href="/cart" class="nav-link"><span class="icon icon-shopping_cart"></span><span class="bag d-flex justify-content-center align-items-center"><small><%= user.cart_no %></small></span></a></li>
	        </ul>
	      </div>
		  </div>
	  </nav>
    <!-- END nav -->

    <section class="ftco-section">


      <div class="container">
        <div class="row">
          <div class="col-xl-8 ftco-animate">
						<form action="/orderplaced" method="POST" id="shippingform" class="billing-form ftco-bg-dark p-3 p-md-5">
							<h3 class="mb-4 billing-heading">Shipping Address</h3>
	          	<div class="row align-items-end">
	          		<div class="col-md-6">
	                <div class="form-group">
	                	<label for="firstname">First Name</label>
	                  <input type="text" id="fname" name="fname" class="form-control" placeholder="">
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label for="lastname">Last Name</label>
	                  <input type="text" id="lname" name="lname" class="form-control" placeholder="">
	                </div>
                </div>
                
		            <div class="w-100"></div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                	<label for="streetaddress">Street Address</label>
	                  <input type="text" id="sa1" name="sa1" class="form-control" placeholder="Street name">
	                </div>
		            </div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                  <input type="text" id="sa2" name="sa2" class="form-control" placeholder="Apartment/Suite/Unit">
	                </div>
                </div>
                
                <div class="w-100"></div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                	<label for="towncity">City</label>
	                  <input type="text" id="city" name="city" class="form-control" placeholder="">
	                </div>
		            </div>
		            <div class="col-md-6">
		            	<div class="form-group">
		            		<label for="postcodezip">State</label>
	                  <input type="text" id="state" name="state" class="form-control" placeholder="">
	                </div>
		            </div>

		            <div class="w-100"></div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                	<label for="towncity">Country</label>
	                  <input type="text" id="country" name="country" class="form-control" placeholder="">
	                </div>
		            </div>
		            <div class="col-md-6">
		            	<div class="form-group">
		            		<label for="postcodezip">Zipcode</label>
	                  <input type="text" id="zipcode" name="zipcode" class="form-control" placeholder="">
	                </div>
		            </div>
		            <div class="w-100"></div>
		            <div class="col-md-6">
	                <div class="form-group">
	                	<label for="phone">Phone</label>
	                  <input type="text" id="phone" name="phone" class="form-control" placeholder="">
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label for="emailaddress">Email Address</label>
	                  <input type="text" id="email" name="email" class="form-control" placeholder="">
	                </div>
                </div>

            
                <div class="w-100"></div>
                <div class="col-md-12">
                	<div class="form-group mt-4">
										<div class="radio">
										  <label><input type="checkbox" name="checkboxx" id="checkboxx"> Billing address same as shipping address?</label>
										</div>
									</div>
                </div>
				
	              </div>
	
							<h3 class="mb-4 billing-heading">Billing Address</h3>
	          	<div class="row align-items-end">
	          		<div class="col-md-6">
	                <div class="form-group">
	                	<label for="firstname">First Name</label>
	                  <input type="text" id="fname2" name="fname2" class="form-control" placeholder="">
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label for="lastname">Last Name</label>
	                  <input type="text" id="lname2" name="lname2" class="form-control" placeholder="">
	                </div>
                </div>
                
		            <div class="w-100"></div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                	<label for="streetaddress">Street Address</label>
	                  <input type="text" id="sa12" name="sa12" class="form-control" placeholder="Street name">
	                </div>
		            </div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                  <input type="text" id="sa22" name="sa22" class="form-control" placeholder="Apartment/Suite/Unit">
	                </div>
                </div>
                
                <div class="w-100"></div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                	<label for="towncity">City</label>
	                  <input type="text" id="city2" name="city2" class="form-control" placeholder="">
	                </div>
		            </div>
		            <div class="col-md-6">
		            	<div class="form-group">
		            		<label for="postcodezip">State</label>
	                  <input type="text" id="state2" name="state2" class="form-control" placeholder="">
	                </div>
		            </div>

		            <div class="w-100"></div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                	<label for="towncity">Country</label>
	                  <input type="text" id="country2" name="country2" class="form-control" placeholder="">
	                </div>
		            </div>
		            <div class="col-md-6">
		            	<div class="form-group">
		            		<label for="postcodezip">Zipcode</label>
	                  <input type="text" id="zipcode2" name="zipcode2" class="form-control" placeholder="">
	                </div>
		            </div>
		            <div class="w-100"></div>
		            <div class="col-md-6">
	                <div class="form-group">
	                	<label for="phone">Phone</label>
	                  <input type="text" id="phone2" name="phone2" class="form-control" placeholder="">
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label for="emailaddress">Email Address</label>
	                  <input type="text" id="email2" name="email2" class="form-control" placeholder="">
	                </div>
                </div>
	    
            	<!-----------------------><div class="row mt-5 pt-3 d-flex">
	          	<div class="col-md-6 d-flex">
	          		<div id="cartdetail" class="cart-detail cart-total ftco-bg-dark p-3 p-md-4">
						  <h3 class="billing-heading mb-4">Cart Total</h3>
						  <p class="d-flex">
							<span>Subtotal</span>
							<span>$<%= user.total_price %></span>
						</p>
						  
						  <% if(parseFloat(user.total_price) > parseFloat(25)) { %>
	          				
		    					<p class="d-flex">
		    						<span>Delivery</span>
		    						<span>$0.00</span>
		    					</p>
		    					<hr>
		    					<p class="d-flex total-price">
		    						<span>Total</span>
		    						<span>$<%= user.total_price %></span>
								</p>
								
								<% } else if(parseFloat(user.total_price) < parseFloat(25) && parseFloat(user.total_price) > parseFloat(0)) { %>


									<p class="d-flex">
										<span>Delivery</span>
									<span>$5.00</span>
									</p>
									<hr>
									<p class="d-flex total-price">
										<span>Total</span>
										<span>$<%= parseFloat(user.total_price)+parseFloat(5) %></span>
									</p>
		
								<% } else { %>
		
									<p class="d-flex">
										<span>Delivery</span>
									<span>$0.00</span>
									</p>
									<hr>
									<p class="d-flex total-price">
										<span>Total</span>
										<span>$<%= user.total_price %></span>
									</p>
		
								<% } %>

                                </div>
    </div><!----------------------->

			  <div class="col-md-6">
	          		<div class="cart-detail ftco-bg-dark p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Payment Method</h3>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input id="bank" type="radio" name="radiobtn" value="Direct Bank Transfer" class="mr-2"> Direct Bank Tranfer</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" id="check" name="radiobtn" value="Check Payment" class="mr-2"> Check Payment</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" id="paypal" name="radiobtn" value="Paypal" class="mr-2"> Paypal</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="checkbox">
											   <label><input type="checkbox" id="accept" name="accept" value="" class="mr-2"> I have read and accept the terms and conditions</label>
											</div>
										</div>
                                    </div>
                                    
                                   
        <input type="submit" id="paybtn" name="paybtn" value="Place an order" class="btn btn-primary py-3 px-4">
                                   
								</div>
                </div>
				<!------------------------------------------------------------------------------------------->
</form>

	          </div>
          </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->




    

    <footer class="ftco-footer ftco-section img">
    	<div class="overlay"></div>
      <div class="container">
        <div class="row mb-3">
          <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About Us</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4">
              
            </div>
          </div>
         
          <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">800 W Campbell Rd, Suite 777, Richardson, Texas, USA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+1 469 9829 210</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@brewedaromas.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="js/main.js"></script>

  <script>
	$(document).ready(function(){
            $('#paybtn').prop('disabled', true);

    $('#checkboxx').change(function(){
          if($(this).prop("checked")) {
            $('#fname2').val($('#fname').val());
            $('#lname2').val($('#lname').val());
            $('#sa12').val($('#sa1').val());
            $('#sa22').val($('#sa2').val());
            $('#city2').val($('#city').val());
            $('#state2').val($('#state').val());
            $('#country2').val($('#country').val());
            $('#zipcode2').val($('#zipcode').val());
            $('#phone2').val($('#phone').val());
            $('#email2').val($('#email').val());
          } else 
          {
            $('#billingform').find("input[type=text], textarea").val("");
          }
    	});

    var isChecked1 = false;
    var isChecked2 = false;
    var isChecked3 = false;
	var payment_method_selected = 0;

    $('#bank').change(function(){
		payment_method_selected = $(".mr-2:checked").val();     
        isChecked1 = $('#bank').is(':checked');
        if($("#accept").prop("checked") && isChecked1 )
        {
            $('#paybtn').prop('disabled', false);
        }
        else
        {
            $('#paybtn').prop('disabled', true);
        }
    });

    $('#check').change(function(){
		payment_method_selected = $(".mr-2:checked").val();
       
        isChecked2 = $('#check').is(':checked');
        if($("#accept").prop("checked") && isChecked2 )
        {
            $('#paybtn').prop('disabled', false);
        }
        else
        {
            $('#paybtn').prop('disabled', true);
        }
    });

    $('#paypal').change(function(){
		payment_method_selected = $(".mr-2:checked").val();
        
        isChecked3 = $('#paypal').is(':checked');
        if($("#accept").prop("checked") && isChecked3 )
        {
            $('#paybtn').prop('disabled', false);
        }
        else
        {
            $('#paybtn').prop('disabled', true);
        }
    });
    
    $('#accept').change(function(){
        
        if($(this).prop("checked"))
        {
            if((isChecked1 || isChecked2 || isChecked3) )
            {
                $('#paybtn').prop('disabled', false);
            }
            else
            {
                $('#paybtn').prop('disabled', true);
            }
        }
        else
        {
            $('#paybtn').prop('disabled', true);
        }
    });
	


});
    
	</script>

    
  </body>
</html>